.cabecera{
    position: relative;
    width: 100%;
    height: 110px;
    display: flex;
    position: relative;
    gap: 0px;
    background: linear-gradient(to right, #d9dfdb 50%, #212933 50%);
    
}
.cabecera::before,
.cabecera::after {
  content: '';
  position: absolute;
  top: 0;
  width: 50%;
  height: 90%;
  background: linear-gradient(to right, #d9dfdb 50%, #212933 50%);
  transition: all 0.3s ease;
}

/* Mitad izquierda más abajo */
.cabecera::before {
  left: 0;
  transform: translateY(50px); /* desplaza hacia abajo */

}

/* Mitad derecha queda quieta */
.cabecera::after {
  right: 0;
}
#a{
    width: 200%;
    height: 150px;
    background-color: #d9dfdb;
    /*clip-path: polygon(0 0, 100% 0, 100% calc(100% - 500px), calc(90% - 10px) 100%, 0 100%);*/
    transform: skewX(-20deg);
    margin-left: 2%;
}
#b{
    position: relative;
    width: 10%;
    height: 150px;
    background-color: #929ca8;
    transform: skewX(-20deg);
    z-index: 1;
}
#c{
    position: relative;
    width: 10%;
    height: 150px;
    background-color: #8b7d63;
    transform: skewX(-20deg);
    z-index: 1;
}
#d{
    position: relative;
    width: 10%;
    height: 150px;
    background-color: #293b51;
    transform: skewX(-20deg);
    z-index: 1;
}
#e{
    width: 50%;
    height: 100px;
    background-color: #212933;
}