.education{
    width: 50%;
    height: auto;
    grid-column: 2/1;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    margin-left: 20%;
}
#educacion{
    font-size: 30px;
}
#p-e{
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
#span{
    font-size: 20px;
    font-style: italic;
}