.experiencie{
    position: relative;
    width: 100%;
    height: auto;
    margin-left: -20%;
}
#exp-title{
    font-size: 30px;
}
.p-aling{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#p-exp{
    width: 100%;
    height: auto;
    margin-left: 10%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}
.p-exp{
    padding: 0px 100px 0px;
}
#p-exp2{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 0%;
    width: 90%;
    grid-column: 1/3;
    text-align: justify;
}
.point{
    position: absolute;
    margin-top: 5px;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
}
.line2{
    position: absolute;
    margin-top: 15px;
    margin-left: 4px;
    width: 2px;
    height: 230px;
    background-color: #897c69;
}
