.header{
    margin-top: 5%;
    width: 100%;
    height: 100%;
    margin-right: 100%;
    margin-left: -20%;
}
header{

}
#title{
    color: #222625;
    font-family: 'Now', sans-serif;
    font-weight: bold;
    font-size: 42px;

}
#parraf{
    color: #5b5b5b;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
}

.marron{
    width: 40%;
    height: 20px;
    background-color: #897c69;
    border-radius: 10px;
}

