.idiomas{
    position: relative;
    width: 60%;
    height: auto;
    margin-left: 20%;
}
#idiomas{
    font-size: 30px;
}
.ingles{
    display: flex;
    gap: 30px;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    margin-left: -10%;
}
#pr-ingles{
    padding: 12px;
    margin-top: 7.7%;
}
.espanol{
    display: flex;
    gap: 12px;
    font-family: 'Lato',sans-serif;
    font-size: 20px;
    margin-left: -10%;
}
#pr-espanol{
    padding: 12px;
    margin-top: 7%;
}
