.references{
    width: 100%;
    height: auto;
    position: relative;
    margin-left: -20%;
}
#reference{
    font-size: 30px;
}
.list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
#h3{
    font-family: 'Lato',sans-serif;
    font-size: 20px;
}
#p-r{
    font-family: 'Lato',sans-serif;
    font-size: 18px;
}
span{
    font-weight:bold;
    font-size: 15px;
}